.container-task {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  height: auto !important;
}
.btn-bg {
  background-color: #8645ff;
  border-color: #8645ff;
  color: #fff;
}
.btn-bg:hover,
.btn-bg:active {
  color: #fff;
  background-color: #562ea1;
}
.table td,
.table th {
  vertical-align: middle !important;
}
.modal-dialog {
  margin-top: 7rem !important;
}
.login_container_task {
  padding: 0 6rem !important;
}
.react-datepicker__header {
  background-color: #8645ff !important;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #fff !important;
}
.react-datepicker__day-name {
  color: #fff !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #8645ff !important;
}
.search-bar {
  border-color: #8645ff !important;
  color: #8645ff !important;
}
.title-head {
  color: #8645ff !important;
  background-color: transparent !important;
}
.container-logo-title {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #8645ff !important;
  border-radius: 50%;
}
.container-logo-title img {
  max-width: 100%;
}
